@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Marcellus', serif;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    input:-webkit-autofill:focus {
        -webkit-text-fill-color: #fafafa;
        -webkit-box-shadow: 0 0 0px 1000px #202833 inset;
        transition: background-color 5000s ease-in-out 0s;
    }
}

@layer components {
    .iconSize {
        @apply w-6 h-6;
    }
    .navItem {
        @apply w-fit text-size24 text-inherit cursor-pointer font-Marcellus;
    }
    .artilceItemMain {
        @apply relative grid gap-y-3 text-size40 text-pageWhite leading-none cursor-pointer;
    }
    .articleDescription {
        @apply font-sans text-xs text-pageWhite;
    }
    .articleItemTextHover {
        @apply border-b-default cursor-pointer w-fit duration-200 border-transparent hover:border-pageWhite;
    }
    .pArticle {
        @apply text-[4vw] md:text-[1.2rem];
    }
    .hArticle {
        @apply text-[6vw] md:text-[2rem];
    }
}
